@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');



@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.slideIn {
    animation: slideIn 2s ease forwards;
}


  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate3d(0, 0, 0);
    }
    40% {
        transform: translate3d(0, -30px, 0); 
    }
    60% {
        transform: translate3d(0, -15px, 0); 
    }
}



@keyframes expandGridItem {
	from {
		height: 30vh;
		width: 20vw;
	} to {
		height: 40vh;
		width: 25vw;
	}
}


@keyframes wiggle {
	0%, 100% { transform: rotate(0deg); }
	10% {transform: rotate(-15deg); }
	20% { transform: rotate(15deg); }
	30% { transform: rotate(-10deg); }
	40% { transform: rotate(10deg); }
	50% { transform: rotate(-5deg); }
	60% { transform: rotate(5deg); }
	70% { transform: rotate(0deg); }
}














/* CSS Defaults */

* {
    margin: 0;
    padding: 0;
	font-family: 'Abril Fatface', serif;
	font-weight: bold;
	text-decoration: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
  }
  
  :root {}
  
  html {
	  overflow-x: hidden;
  }
  
  body {}







/*-------------------------------------- NAV -------------------------------------*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 2vw;
	background: yellowgreen;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

#logo {
	font-size: 1.5vw;
	color: white;
	font-weight: 600;
}

#navbar {}

.nav-link {
    font-size: 1.5vw;
	font-weight: 500;
	margin-left: 2.5vw;	
	color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

/*
.nav-link:hover {
  color: black;
  background-color: aqua;
  text-decoration:solid;  
  animation: bounce 1s;
  border-radius: 8px;
  padding: 10px;
} */

/*-------------------------------------- NAV -------------------------------------*/





/*-------------------------------------- WELCOME SECTION -------------------------------------*/
#welcome-section {
    /*background-color: rgba(49, 189, 240, 0.5);*/
	background-image: url("https://imgur.com/ZL0ZO2c.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
    display: flex;
    flex-direction: column; 
    justify-content: none;
    align-items: ;
	position: relative;
	
	height: 100vh;
	width: 100vw;
    /*height: calc(100vh - 10vh);*/
    /*margin-top: 10vh;*/

}

/*#welcome-section::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("https://imgur.com/ZL0ZO2c.jpg");
    background-size: cover;
	filter: invert(100%);
    z-index: -1; 
} */

#welcome-section-content {
	height: 100%;
	max-height: 86vh;
	width: 100vw;
	
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	box-sizing: border-box;
	
	margin-top: 6vh;
	margin-bottom: 8vh;
	padding: 2vh;
}

#welcome-section-content h1 {
    margin-top: 2vh;
	margin-bottom: 4vh;
    position: relative;
	

    font-size: 50px;
    text-shadow: 2px 2px 1px rgba(55, 100, 55, 0.5);
	text-align: left;
	margin-left: 5vw;
	color: white;
}

#welcome-section-content h2 {
	margin-bottom:2vh;
    position: relative;
	
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(55, 100, 55, 0.5);
	text-align: left;
	margin-left: 5vw;
	color: rgba(55, 100, 55, 0.9);
}

#welcome-section-content p {
	margin-bottom:;
    position: relative;
	
    font-size: 20px;
    text-shadow: 2px 2px 1px rgba(55, 100, 55, 0.5);
	text-align: left;
	margin-left: 5vw;	
	color: white;
}

#welcome-section:hover {}

#welcome-section-content h1:hover {
    animation: bounce 3s;
}


#sullys-welcome-pic {
	height: auto;
	max-height: 50vh;
	width: auto;
	max-width: 50vw;
	
	position: relative;
	align-self: flex-end;
	margin-top: auto;
	margin-right: 15vw;
	
	object-fit: contain;
	
	border-radius: 0;
	/*box-shadow: 0 4px 10px rgb(0, 0, 0, 0.9);*/
}

#sullys-welcome-pic:hover {
	animation: wiggle 1s ease-in-out;
} 


#Contact-Icons-container {
    height: 8vh;
    width: 100vw;
	bottom: 0;
	box-sizing: border-box;
	
    display: flex;
    flex-direction: row;

	position: fixed;
	
    justify-content: center;
    align-items: center;
    gap: 5vw;
	padding: 5vh;
	
	background-color: rgba(55, 100, 55, 0.5);
}


.profile-link {

    font-size: 25px;
    font-weight: bold;
	text-decoration: none;
    color: white;
}

/* idea: make the link "run" from cursor */
.profile-link:hover {
    text-decoration: none;
    font-size: 30px;
    color: purple;
    animation: bounce 2s;
}

/*-------------------------------------- WELCOME SECTION -------------------------------------*/







/*-------------------------------------- ABOUT ME SECTION -------------------------------------*/

#aboutMe1 {
	height: auto;
	min-height: 100vh;
	width: 100vw;
	
    background-image: url("https://imgur.com/VuSSZAO.jpg");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	
    display: flex;
    flex-direction: column; 
	flex-grow: 1;
    justify-content: center;
    align-items: center;

    /*height: calc(100vh - 10vh);*/
    /*margin-top: 10vh;*/
    text-align: center;
}


#aboutMe1 h1 {

	margin-top: 8vh;
	margin-bottom: 5vh;
    position: relative;
    font-size: 50px;
    text-shadow: 2px 2px 1px rgba(55, 100, 55, 0.5);
	color: white;
}

#aboutMe2 {
	height: auto;
	width: auto;
	
    display: flex;
    flex-direction: row; 
	flex-grow: 1;
	box-sizing: border-box;
	
    justify-content: center;
    align-items: center;

    /*height: calc(100vh - 10vh);*/
    /*margin-top: 10vh;*/
    text-align: center;	
}

#aboutMePicContainer:hover {}

#aboutMePic {
	height: 100%;
	width: 100%;
	max-width: 25vw;
	
	border-radius: 8px;
	box-shadow: 0 4px 10px rgb(0, 0, 0, 0.9);
}

#aboutMePic:hover {
	animation: wiggle 1s ease-in-out;	
}

#aboutMeTextContainer {
	height: auto;

	max-width: 70vw;
	
	padding: 5vw;
	position: relative;
	overflow: contain;
	box-sizing: border-box;
}

#aboutMe2 p {
    font-size: 1.5vw;
    color: white;
	position: relative;
}

/*-------------------------------------- ABOUT ME SECTION -------------------------------------*/











/* .spacer {
  height: 100vh;
  width: 100%;
  background-color: rgba(155, 100, 55, 0.5);
} */



/*-------------------------------------- projects -------------------------------------*/
#projects {
    background-image: url("https://i.imgur.com/ZXr3C0e.gif");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
    height: auto;
    width: 100vw;
	
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	
    font-size: large;
    font-weight: 200;
}

#projects:hover {}



#projects h1 {
	margin-top: 10vh;
	
    font-size: 50px;
	color: white;
	font-size-adjust: relative;
    text-shadow: 2px 2px 1px rgba(55, 100, 55, 0.6);
    text-decoration: none;
	
}





#project-grid {
	margin-top: 5vh;
	margin-bottom: 10vh;
	height: auto;
	width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 1fr));*/
	/*grid-template-rows: auto;*/
    /* flex-direction: row-reverse; */
    grid-auto-rows: minmax(30vh, auto);
    justify-items: center;
    gap: 20px;
    padding: 10px;
}



.project-grid-item {
    height: 30vh;
    width: 20vw;
	position: relative;
	margin-bottom: 5vh;
	box-shadow: 0 4px 10px rgb(0, 0, 0, 0.9);
	border-radius: 8px;
	/*transition: transform width 1.0s ease-in-out, height 1.0s ease-in-out;*/
}

.project-grid-item:hover {
	/*transform: translateY(210%); /* Moves the title down when image is hovered */
   /* opacity: 0;  Hides the title */
   animation: expandGridItem 1.0s ease-in-out forwards;
   box-shadow: 5px 5px 10px black;
   z-index: 10;
   margin-bottom: 5vh;
   border-radius: 8px;
}



.project-image {
    height: 100%;
    width: 100%;
	border-radius: 8px;
	position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*.project-image:hover {
    /*transform: scale(1.3);
    z-index: 10;
	filter: brightness(200%);
	border-radius: 8px;
}*/

.project-item-title {
	border-radius: 8px;
    text-align: center;
    font-size: medium;
    color: white;
    background-color: black;
	position: relative; 
    transition: transform 1s ease-in-out;
	text-decoration: no-underline;
	box-shadow: 0 4px 10px rgb(0, 0, 0, 0.9);
	
}


/*.project-item-title:hover {
	/*transform: translateY(210%); /* Moves the title down when image is hovered */
   /* opacity: 0;  Hides the title 
   z-index: 10;
   box-shadow: 5px 5px 10px black;
   border-radius: 8px;
}*/


/*-------------------------------------- projects -------------------------------------*/




/* ------------------------------------ skillsSection ------------------------------------- */


#skillsSection {
	height: 100vh;
    width: 100vw;
	
    background-image: url("https://i.imgur.com/EkLql95.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
	position: relative;
	box-sizing: border-box;
	
    align-items: center;
	gap: 3vw;
	padding: 2vw;
}

#skillsHeader {
	height: auto;
	width: 100vw;
	
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 6vh;
	box-sizing: border-box;
	padding: 2vw;
	
	text-align: center;
	font-size: 50px;
}

#skillsHeader h1 {
	color: white;
}


/* #skillsSection-icons-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 50%;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px; 
}*/

#skillsContainerBox {
	height: auto;
	width: 100vw;
	
	position: relative;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	
	align-items: center;
	justify-content: center;
	padding: 2vw;
	gap: 3vw;
}


.skills-category {
  background-color: teal;
  
  height: auto;
  min-height: 20vh;
  width: 15vw;
  
  border-radius: 16px;
  padding: 2vw;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  
  text-align: center;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-category:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);
  background-color: purple;
}

.skills-category h3 {
	color: white;
	margin-bottom: 2vh;
	text-align: center;
}

.skills-category li {
	margin-bottom: 1vh;
}

.category-title {
  font-size: 1.5rem;
  color: #222;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-item {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

/* ------------------------------------ skillsSection ------------------------------------- */




/* ------------------------------------ footer ------------------------------------- */

footer {
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    border-top: 10px solid black;
    background-color: rgba(49, 189, 240, 0.5);
}

footer p {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer p:hover {
    animation: slideIn 2s ease-in-out 1s; 
}

















/* MEdia Query Parameters */

@media (max-width: 600px) {
  #navbar {
	display: flex;
    flex-direction: row;
    height: auto;
	margin-bottom: 20px;
	gap: 4vw;
  } 
  
 .nav-link {
    
  }  
}


@media (max-width: 600px) {
  #welcome-section-content h1 {
    font-size: 8vw;
    text-align: center;
    margin-left: 0;
  }

  #welcome-section-content h2,
  #welcome-section-content p {
    font-size: 4vw;
    text-align: center;
    margin-left: 0;
  }

  #sullys-welcome-pic {
    max-width: 80vw;
    margin-right: 0;
  }	
  
  #Contact-Icons-container {
	  display: flex;
	  flex-direction: row;
 
	  gap: 6vw;
	  justify-content: center;
	  
  }
  
  .icon-label {
	  display: none;
  }
}


@media (max-width: 600px) {
	
	#projects {
		display: flex;
        flex-direction: column;
        align-items: center;		
	}
    #project-grid {
		display: flex;
        flex-direction: column;
        align-items: center;
		position: relative;
    }
	
    .project-grid-item {
		position: relative;
		
		height: 30vh;
        width: 90vw;
    }
	
	.project-grid-item:hover {
		animation: none;
	}
	
	#projects h1 {
		padding: 6vw;
	}
}


@media (max-width: 600px) {
	
	#aboutMe1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
#aboutMe2 {
	display: flex;
    flex-direction: column;
	
	align-items: center;
	text-align: center;
  }

  #aboutMePic {
    max-width: 80vw;
	margin-bottom: 20px;
  }

  #aboutMeTextContainer {
    padding: 3vw;
    max-width: 90vw;
  }

  #aboutMe2 p {
    font-size: 4vw;
  }	
}


@media (max-width: 600px) {
  #skillsSection {
	display: flex;
	flex-direction: column;
	position: relative;

	height: auto;
	width: 100vw;	
  }	
  
  #skillsHeader h1 {
	  font-size: 10vw;
  }
  
  #skillsContainerBox {
	display: flex;
	flex-direction: column;
	
	position: relative;
	
	height: auto;
	width: 100vw;
  }
  
  .skills-category {
	display: flex;
	flex-direction: column;
	
	position: relative;
	box-sizing: border-box;
	padding: 1vw;
	
	height: auto;
	width: 80vw;
  }
  
  .skills-category ul {
	padding: 4vw;
 	  
	list-style-type: square;
	list-style-postion: inside;	
  }
}